In [29]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import scipy.stats as sts

In [30]:
# Read CSV
harvey_data = pd.read_csv("Resources/Harvey.csv")

harvey_data.head(6)

,State,Name,Unemployment_Count,Year,Hurricane,Unnamed: 5,Unnamed: 6
0,48,Harris County,6.5,2016,Harvey,NaN,NaN
1,48,Harris County,6.2,2017,Harvey,NaN,NaN
2,48,Harris County,5.6,2018,Harvey,NaN,NaN
3,48,Harris County,5.2,2019,Harvey,NaN,NaN

In [31]:
# Read CSV

sandy_data = pd.read_csv("Resources/Sandy.csv")

sandy_data.head(7)

,State,Name,Unemploymentcount,Year,Hurricane,Unnamed: 5,Unnamed: 6
0,34.0,Atlantic County,15.0,2011.0,Sandy,NaN,NaN
1,34.0,Atlantic County,14.0,2012.0,Sandy,NaN,NaN
2,34.0,Atlantic County,12.0,2013.0,Sandy,NaN,NaN
3,34.0,Atlantic County,11.0,2014.0,Sandy,NaN,NaN
4,34.0,Atlantic County,11.0,2015.0,Sandy,NaN,NaN
5,34.0,Atlantic County,11.0,2016.0,Sandy,NaN,NaN
6,34.0,Atlantic County,9.0,2017.0,Sandy,NaN,NaN

In [32]:
plt.bar(sandy_data["Year"], sandy_data["Unemploymentcount"], marker="o",edgecolors='black')

plt.xlabel('Year')

plt.ylabel('Unemploymentcount')

plt.show()

KeyError: 'Unemploymentcount'

In [8]:
# Group harvey_data by the 'Year' column
harvey_data_group = harvey_data.groupby('Year')

# Count number of times mice were treated with the drug
unemployment_rate = pd.DataFrame(harvey_data_group['Unemployment_Count'].count())


# Create a bar chart and title
harvey_unemployment = unemployment_rate.plot(kind='bar', title="Unemployment Rates During Hurricane Harvey %", color="blue")

# Set the xlabel and ylabel
harvey_unemployment.set_xlabel("Year")

harvey_unemployment.set_ylabel("Unemployment Count")

plt.tight_layout()

plt.show()

KeyError: 'Column not found: Unemployment_Count'

In [7]:
# Set textual properties
plt.title("The Bloodthirst of Kings")
plt.ylabel("Number of Battles Participated In")
plt.xlabel("King")

Text(0.5,0,'King')

In [8]:
# Show plot
plt.show()

In [9]:
# Resize plot to display labels
plt.tight_layout()